/* Resets */
a {
  text-decoration: none;
  color: var(--color-black) !important;
  font-weight: 600;
}
a.active {
  color: var(--color-accent) !important;
}
a:hover {
  color: var(--color-accent) !important;
}
