/* Footer */
footer {
  .nav .nav-link {
    color: white !important;
    padding-left: 0;
    &:hover {
      color: var(--color-accent) !important;
    }
  }
  .bg-black a {
    color: var(--color-white);
    text-decoration: none;
  }
  .bg-black a:hover {
    color: var(--color-accent);
  }
}
