// User
body.dashboard.user {
  padding-bottom: 105px;
}

.dashboard {
  .sidebar a.list-group-item.list-group-item-action {
    border: 0;
    /*margin-bottom: 0.5rem;*/
    font-weight: 500;
  }

  .sidebar a.list-group-item.list-group-item-action:hover {
    background: var(--color-primary);
    color: white;
    border-radius: 0.6rem;
  }

  .sidebar a.list-group-item.list-group-item-action:hover .icon-menu {
    filter: invert(1);
  }

  .sidebar a.list-group-item.list-group-item-action.active {
    background: var(--color-accent);
    border: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 500;
    border-radius: 0.6rem;
  }

  .sidebar a.list-group-item.list-group-item-action.active .icon-menu {
    filter: invert(1);
  }
}

.br-2p {
  border-radius: 2px;
}
.badge-primary {
  background-color: var(--color-accent);
}
.page-link:hover {
  color: var(--color-accent);
}
.page-item.active .page-link {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
}

/* Reset */
.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgb(197 197 197 / 10%) !important;
  box-shadow: 0 0.5rem 1rem rgb(197 197 197 / 10%) !important;
}
.card.stats .card-body {
  padding: 15px;
}
.form-label {
  font-weight: bold;
  font-size: 0.9rem;
}
.form-control {
  // color: var(--mp-black);
  font-size: 1rem;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /* Designs */
  body.dashboard {
  }
}
